.card_body{
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  .email, .name, .position, .phone{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
  }
  .position{
    padding-top: 4px;
  }
  .name{
    padding-top: 2px;
  }
}
.img_wrapper{
  display: flex;
  justify-content: center;
}
